<section>

        <div id="sc">
        <div id="title" style="text-align: center;" >
        <h1>BLOODCHAIN <a class="w3-red" style="text-align: center;"><img src="https://static.thenounproject.com/png/84244-200.png" width="100px" height="100px"></a></h1>
        <h3>"Trazabilidad y captura de donaciones de Sangre"</h3>
       </div>
       </div>

       <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="text-align: center;" (click)="activate=False">

        <div id="sec11" class="w3-col l6 m6">
        
          <div>
           <label>Nombres: </label>
           <input [(ngModel)]="donante.nombre" [ngModelOptions]="{standalone: true}" type="text"  placeholder="name">
         </div>

         <div>
            <label>Apellidos: </label>
            <input [(ngModel)]="donante.apellido" [ngModelOptions]="{standalone: true}" type="text"  placeholder="LastName">
         </div>

         <div>
            <label>Documento de Identificacion: </label>
            <input [(ngModel)]="donante.cedula" [ngModelOptions]="{standalone: true}" type="text"  placeholder="No ID">
         </div>

         <div>
            <label>Edad: </label>
            <input [(ngModel)]="donante.edad" [ngModelOptions]="{standalone: true}" type="number"  placeholder="Age">
         </div>

        
         <div>
            <label>Genero: </label>
            <input [(ngModel)]="donante.genero" [ngModelOptions]="{standalone: true}"  type="text"  placeholder="F O M">
         </div>

         <div>
            <label>EPS : </label>
            <input [(ngModel)]="donante.Eps" [ngModelOptions]="{standalone: true}" type="text" placeholder="eps" >
         </div>

        </div>

        <div id="sec12" class="">

            <div>
                <label>Telefono: </label>
                <input [(ngModel)]="donante.numeroTelefono" [ngModelOptions]="{standalone: true}"  type="text"  placeholder="TEl">
             </div>
    
             <div>
                <label>Correo Electronico: </label>
                <input [(ngModel)]="donante.correoElectronico" [ngModelOptions]="{standalone: true}" type="text"  placeholder="email">
             </div>
    
            <div>
                <label>Peso en (KG): </label>
                <input [(ngModel)]="donante.peso"  [ngModelOptions]="{standalone: true}"  type="text"  placeholder="kg">
             </div>
    
             <div>
                <label>Altura en (CM): </label>
                <input type="text" [(ngModel)]="donante.altura" [ngModelOptions]="{standalone: true}"  placeholder="cm">
             </div>
    
             <div>
                <label>Tension Arterial: </label>
                <input [(ngModel)]="donante.TensionArterial" [ngModelOptions]="{standalone: true}"  type="text"  >
             </div>
    
             <div>
                <label>Tipo de Sangre: </label>
                <input [(ngModel)]="donante.tipoSangre" type="text" [ngModelOptions]="{standalone: true}" placeholder="a-o-b-ab">
             </div>

             <div>
               <label>Valido: </label>
               <input type="radio" [(ngModel)]="donante.valido" [ngModelOptions]="{standalone: true}" value="true">Aceptado
               <input type="radio" [(ngModel)]="donante.valido" [ngModelOptions]="{standalone: true}" value="false">No aceptado
            </div>
                             
        </div>


       </form>

<div style="text-align: center;">
<button (click)="setDonante()" class=" w3-button w3-hover-green w3-round-large w3-red" style="width: 50%;">Registrar Paciente</button>
</div>
<br>
<br>
<div style="text-align: center;">
   <div>
      <label>Ingrese la Cedula de Buqueda</label>
      <input [(ngModel)]="idDonante" type="text" placeholder="id"><br>  
      <button (click)="getDonante()" class=" w3-button w3-hover-green w3-round-large w3-blue" style="width: 25%;">Buscar Paciente</button>
   </div>
</div>


<table *ngIf="donante2 !== undefined && activate===true " >
   <tr>
     <th>Dato</th>
     <th>Contenido</th>
   </tr>
   <tr>
     <td>Cedula </td>
     <td>{{donante2.cedula}}</td>
   </tr>


   <tr>
      <td>Nombre </td>
      <td>{{donante2.nombre}}</td>
    </tr>
 

    <tr>
      <td>Apellidos </td>
      <td>{{donante2.apellido}}</td>
    </tr>
 

    <tr>
      <td>Numero de Telefono </td>
      <td>{{donante2.numeroTelefono}}</td>
    </tr>

    
   <tr>
      <td>Edad </td>
      <td>{{donante2.edad}}</td>
    </tr>

    
   <tr>
      <td>Eps </td>
      <td>{{donante2.Eps}}</td>
    </tr>

    
   <tr>
      <td>Correo Electronico </td>
      <td>{{donante2.correoElectronico}}</td>
    </tr>

    
   <tr>
      <td>Genero </td>
      <td>{{donante2.genero}}</td>
    </tr>

    
   <tr>
      <td>Peso </td>
      <td>{{donante2.peso}} KG</td>
    </tr>

    
   <tr>
      <td>Altura </td>
      <td>{{donante2.altura}} CM</td>
    </tr>

    
   <tr>
      <td>Tesion Arterial </td>
      <td>{{donante2.TensionArterial}}</td>
    </tr>

    
   <tr>
      <td>Tipo de Sangre</td>
      <td>{{donante2.tipoSangre}}</td>
   </tr>
 
   </table>



</section>