<div>
  <label>Ingrese la address empresa </label>
  <input type="text" [(ngModel)]="addEmpr" placeholder="direccion" name="nombre administrador" required>
</div>

<div>
  <label>Ingrese Id Del contrato Encuesta:</label>
  <input type="number" [(ngModel)]="encuesta.idEncuesta"  placeholder="identificacion" min="1" max="30" name="first" required>
</div>

<form>
  <h4 style="text-align: center;">Registro de Evidencia Encuesta</h4>
  <div>
    <label>Ingrese el Lugar </label>
    <input type="text" [(ngModel)]="encuesta.lugar" placeholder="place" name="nombre administrador" required>
  </div>

  <div>
    <label>Ingrese Fecha:</label>
    <input type="text" [(ngModel)]="encuesta.fecha"  placeholder="date"  name="date" required>
  </div>

  <div>
    <label>Ingrese Hora:</label>
    <input type="text" [(ngModel)]="encuesta.hora"  placeholder="time"  name="time" required>
  </div>
  
  <div>
    <label>Ingrese idPersona:</label>
    <input type="number" [(ngModel)]="encuesta.persona.idPersona"  placeholder="identificacion" min="1" max="30" name="first" required>
  </div>
  <div>
    <label>Ingrese nombre:</label>
    <input type="text" [(ngModel)]="encuesta.persona.nombre"  placeholder="name"  name="nombre" required>
  </div>
  <div>
    <label>Ingrese Url Foto Evidencia:</label>
    <input type="text" [(ngModel)]="encuesta.foto.url"  placeholder="url"  name="link" required>
  </div>
  <div>
    <label>Ingrese Sring hash de Evidencia:</label>
    <input type="text" [(ngModel)]="encuesta.foto.hs"  placeholder="hash"  name="hs" required>
  </div>
  <div>
    <label>Ingrese El id del encuestador:</label>
    <input type="number" [(ngModel)]="encuesta.encuestador.idEncuestador"  placeholder="identificacion" min="1" max="30" name="first" required>
  </div>
  
  <div>
    <button (click)="setCheck()">Registrar Evidencia</button>
  </div>
</form>

<br>
<br>


<br>
<br>
