
<form>
  <h4 style="text-align: center;">Registro de Empresas</h4>
  <div>
    <button (click)="setEmpresa()">Registrar Adress Empresa</button>
  </div>
</form>
<br>
<br>

<form>
  <h4 style="text-align: center;">Registro de Encuestas Contratadas</h4>
  <div>
    <label>Idenficiacion del Contrato Encuesta: </label>
    <input type="number" [(ngModel)]="idEncuestaContratada" placeholder="identificacion" name="ide" required>
  </div>

  <div>
    <button (click)="setEncuestaContratada()">Registrar Contrato Encuesta</button>
  </div>
</form>

<br>
<br>


<form>
  <h4 style="text-align: center;">Busqueda de Evidencias de las Encuestas</h4>
  <div>
    <label>Idenficiacion de la encuesta contratada: </label>
    <input type="number" [(ngModel)]="idEncuestaContratada" placeholder="ID" name="idE2" required>
  </div>

  <div>
    <button (click)="getAllchecks()">Consultar Informacion</button>
  </div>
</form>

<br>
<br>

<table *ngIf="listChecks !== undefined && listChecks.length > 0">
<tr>
  <th>Identificacion Encuesta</th>
  <th>Fecha</th>
  <th>hora</th>
  <th>Lugar</th>
  <th>Idenficiacion Persona</th>
  <th>Nombre Persona</th>
  <th>Url de la Foto</th>
  <th>HASH de verificacion</th>
  <th>Identifiacion Encuestador</th>
</tr>
<tr *ngFor="let item of listChecks">
  <td>{{item.idEncuesta}}</td>
  <td>{{item.fecha}}</td>
  <td>{{item.hora}}</td>
  <td>{{item.lugar}}</td>
  <td>{{item.persona.idPersona}}</td>
  <td>{{item.persona.nombre}}</td>
  <td>{{item.foto.url}}</td>
  <td>{{item.foto.hs}}</td>
  <td>{{item.encuestador.idEncuestador}}</td>	
</tr>



</table>







