
<form>
  <h4 style="text-align: center;">Busqueda de Evidencias de las Encuestas</h4>
  <div>
    <label>Ingrese Id Empleado: </label>
    <input type="number" [(ngModel)]="idEncuestaContratada" placeholder="ID" name="idE2" required>
  </div>
  <div>
    <label>Ingrese Nombre Empleado: </label>
    <input type="text" [(ngModel)]="idEncuestaContratada" placeholder="ID" name="idE2" required>
  </div>
  <div>
    <label>Ingrese el password: </label>
    <input type="password" [(ngModel)]="idEncuestaContratada" placeholder="ID" name="idE2" required>
  </div>
  <div>
    <label>Ingrese el rol: </label>
    <input type="Text" [(ngModel)]="idEncuestaContratada" placeholder="ID" name="idE2" required>
  </div>

  <div>
    <button (click)="setEmpleado()">Registrar Empleado</button>
  </div>
</form>

<br>
<br>
