
<form>
  <h4 style="text-align: center;">Registro de Usuarios</h4>
  <div>
    <label>Nombre Usuario: </label>
    <input type="text" [(ngModel)]="usuarios[0].nombre" placeholder="name" name="nombre administrador" required>
  </div>

  <div>
    <label>ID Usuario: </label>
    <input type="number" [(ngModel)]="usuarios[0].idUser"  placeholder="identificacion" min="1" max="30" name="first" required>
  </div>

  <div>
    <label>Seleccione Rol del Usuario: </label>
    <select >
     <option *ngFor="let item of usuarios[0].tipo" (click) = "usuarios[0].idrol = usuarios[0].getIndexRol(item)" >{{item}}</option>
    </select>
  </div>

  <div>
    <button (click)="setUser()">Registrar Usuario</button>
  </div>
</form>

<br>
<br>


<form>
  <h4 style="text-align: center;">Registro de Usuarios</h4>
  <div>
    <label>Nombre Usuario: </label>
    <input type="text" [(ngModel)]="usuarios[0].nombre" placeholder="name" name="nombre administrador" required>
  </div>

  <div>
    <label>ID Usuario: </label>
    <input type="number" [(ngModel)]="usuarios[0].idUser"  placeholder="identificacion" min="1" max="30" name="first" required>
  </div>

  <div>
    <label>Seleccione Rol del Usuario: </label>
    <select >
     <option *ngFor="let item of usuarios[0].tipo" (click) = "usuarios[0].idrol = usuarios[0].getIndexRol(item)" >{{item}}</option>
    </select>
  </div>

  <div>
    <button (click)="setUser()">Registrar Usuario</button>
  </div>
</form>

<br>
<br>
