<section>
    <div id="sc" class="w3-col  l6 m6">
    <div id="title" style="text-align: center;" >
    <h1>BLOODCHAIN <a class="w3-red" style="text-align: center;"><img src="https://static.thenounproject.com/png/84244-200.png" width="100px" height="100px"></a></h1>
    <h3>"Trazabilidad y captura de donaciones de Sangre"</h3>
   </div>
   
    <div class="w3-container w3-border w3-red" id="charts">
 <h2>holi</h2>
    </div>

</div>

<div id="login" class="w3-col  l6 m6">

        <form class="pp w3-col l12 w3-red w3-text-black "> 
            <div id="sec1" class="w3-col l6">
                <h4 style="text-align: center;">Ingreso de Usuarios</h4>
                <div>
                  <label>Nombre Usuario: </label>
                  <input type="text"  placeholder="name" name="nombre administrador" required>
                </div>
              
                <div>
                  <label>ID Usuario:</label>
                  <br>
                  <input type="number"  placeholder="identificacion" min="1" max="30" name="first" required>
                </div>
              

              
                <div>
                  <button class="w3-button w3-hover-green w3-round-large w3-white" >Iniciar Sesion</button>
                  <br>
                  <a>olvidaste la password que mal no?</a>
                </div>
            </div>

            <div id="sec2" class="w3-col l6">
                <a><img src="https://cdn3.iconfinder.com/data/icons/user-avatars-4/100/doctoruserprofile_avatar_person_account_-512.png" width="250px" height="auto" ></a>
            </div>
           
              </form>

</div>


</section>