<section>

    <div id="sc">
    <div id="title" style="text-align: center;" >
    <h1>BLOODCHAIN <a class="w3-red" style="text-align: center;"><img src="https://static.thenounproject.com/png/84244-200.png" width="100px" height="100px"></a></h1>
    <h3>"Trazabilidad y captura de donaciones de Sangre"</h3>
   </div>
   </div>

   <form style="text-align: center;" (click)="activate=False">

    <div id="sec11" class="w3-col l6 m6">
    
      <div>
       <label>Ingrese ID: </label>
       <input ng-model="donacion.idDonacion" type="number"  placeholder="name">
     </div>

     <div>
        <label>Ingrese ID Lote: </label>
        <input ng-model="donacion.idLote" type="text"  placeholder="LastName">
     </div>

     <div>
        <label>Ingrese la Cantidad Extraida : </label>
        <input ng-model="donacion.cantidadExtraida"t type="number"  placeholder="No ID">
     </div>

     <div>
        <label>Numero de Venoponuciones: </label>
        <input ng-model="donacion.numeroVenoponuciones" type="number"  placeholder="Age">
     </div>

    
     <div>
        <label>Tiempo en MIN de la Extraccion: </label>
        <input ng-model="donacion.numeroMinExtraccion" type="text"  placeholder="F O M">
     </div>

     <div>
        <label>Fecha Donacion: </label>
        <input ng-model="donacion.fechaDonacion" type="text" placeholder="eps" >
     </div>

    </div>

    <div id="sec12" class="">

        <div>
            <label>Cedula del Donante: </label>
            <input ng-model="donacion.idDonante" type="text"  placeholder="TEl">
         </div>

         <div>
            <label>Archivo de Consetimiento: </label>
            <input  type="file"  placeholder="email">
         </div>

        <div>
            <label>Archivo Etiqueta Unidad: </label>
            <input  type="file"  placeholder="kg">
         </div>

         <div>
            <label>Archivo Firma: </label>
            <input type="text" ng-model="donacion.altura"  placeholder="cm">
         </div>

         <div>
            <label>Seleccione Tipo Bolsa: </label>
            <select >
             <option *ngFor="let item of listBolsa" (click) = "donacion.tipoBolsa = item.idTipo" >{{item.nombre}}</option>
            </select>
          </div>                      
    </div>


   </form>

<div style="text-align: center;">
<button (click)="setdonacion()" class=" w3-button w3-hover-green w3-round-large w3-red" style="width: 50%;">Registrar Paciente</button>
</div>
<br>
<br>
<div style="text-align: center;">
<div>
  <label>Ingrese la Cedula de Buqueda</label>
  <input ng-model="iddonacion" type="text" placeholder="id"><br>  
  <button (click)="getDonacion()" class=" w3-button w3-hover-green w3-round-large w3-blue" style="width: 25%;">Buscar datos Unidad</button>
</div>
</div>


<table *ngIf="activate === true " >
<tr>
 <th>Dato</th>
 <th>Contenido</th>
</tr>
<tr>
 <td>ID donacion </td>
 <td>{{donacion.idDonacion}}</td>
</tr>


<tr>
  <td>Fecha De Donacion</td>
  <td>{{donacion.fechaDonacion}}</td>
</tr>


<tr>
  <td>Numero de Venoponuciones</td>
  <td>{{donacion.numeroVenoponuciones}}</td>
</tr>


<tr>
  <td>Cantidad de Sangre Extraida </td>
  <td>{{donacion.cantidadExtraida}} lt</td>
</tr>


<tr>
  <td>Identificacion del Medico</td>
  <td>{{donacion.medicoEncargado}}</td>
</tr>


<tr>
  <td>Eps </td>
  <td>{{donacion.Eps}}</td>
</tr>


<tr>
  <td>Correo Electronico </td>
  <td>{{donacion.correoElectronico}}</td>
</tr>


<tr>
  <td>Genero </td>
  <td>{{donacion.genero}}</td>
</tr>


<tr>
  <td>Peso </td>
  <td>{{donacion.peso}} KG</td>
</tr>


<tr>
  <td>Altura </td>
  <td>{{donacion.altura}} CM</td>
</tr>


<tr>
  <td>Tesion Arterial </td>
  <td>{{donacion}}</td>
</tr>


<tr>
  <td>Tipo de Sangre</td>
  <td>{{donacion.tipoSangre}}</td>
</tr>

</table>



</section>