<section>

    <div id="sc">
    <div id="title" style="text-align: center;" >
    <h1>BLOODCHAIN <a class="w3-red" style="text-align: center;"><img src="https://static.thenounproject.com/png/84244-200.png" width="100px" height="100px"></a></h1>
    <h3>"Trazabilidad y captura de donaciones de Sangre"</h3>
   </div>
   </div>

   <form style="text-align: center;" (click)="activate=False">

    <div id="sec11" class="w3-col l6 m6">
    
      <div>
       <label>Ingrese ID Unidad: </label>
       <input [(ngModel)]="donacion.idDonacion" [ngModelOptions]="{standalone: true}" type="number"  placeholder="id">
     </div>

     <div>
        <label>Ingrese ID Lote: </label>
        <input [(ngModel)]="donacion.idLote" type="number" [ngModelOptions]="{standalone: true}" placeholder="id">
     </div>

     <div>
        <label>Ingrese la Cantidad Extraida : </label>
        <input [(ngModel)]="donacion.cantidadExtraida" [ngModelOptions]="{standalone: true}" type="number"  placeholder="ml">
     </div>

     <div>
        <label>Numero de Venoponuciones: </label>
        <input [(ngModel)]="donacion.numeroVenoponuciones" [ngModelOptions]="{standalone: true}" type="number"  placeholder="n">
     </div>

    
     <div>
        <label>Tiempo en MIN de la Extraccion: </label>
        <input [(ngModel)]="donacion.numeroMinExtraccion"  [ngModelOptions]="{standalone: true}" type="number"  placeholder="min">
     </div>

    
    </div>

    <div id="sec12" class="">

        <div>
            <label>Cedula del Donante: </label>
            <input [(ngModel)]="donacion.idDonante" [ngModelOptions]="{standalone: true}" type="number"  placeholder="ID">
         </div>

         <div>
            <label>Archivo de Consetimiento: </label>
            <input  type="file"  placeholder="file">
         </div>

        <div>
            <label>Archivo Etiqueta Unidad: </label>
            <input  type="file"  placeholder="file">
         </div>

         <div>
            <label>Archivo Firma: </label>
            <input type="file" placeholder="file">
         </div>

         <div>
            <label>Seleccione Tipo Bolsa: </label>
            <select >
             <option *ngFor="let item of listBolsa" (click) = "donacion.tipoBolsa = item.idTipo" >{{item.nombre}}</option>
            </select>
          </div>    
          <div>
              <label>Fecha Donacion: </label>
              <input [(ngModel)]="donacion.fechaDonacion" [ngModelOptions]="{standalone: true}" type="text" placeholder="date" >
           </div>
                        
    </div>


   </form>
   <br>

<div style="text-align: center;">
<button (click)="setDonacion()" class=" w3-button w3-hover-green w3-round-large w3-red" style="width: 50%;">Registrar Unidad Sangre</button>
</div>
<br>
<br>
<div style="text-align: center;">
<div>
  <label>Ingrese el ID de La Unidad</label>
  <input [(ngModel)]="idDonacion" type="text" placeholder="id"><br>
  <label>Ingrese el ID del Lote</label>
  <input [(ngModel)]="idLote" type="text" placeholder="id"><br>  
  <button (click)="getDonacion()" class=" w3-button w3-hover-green w3-round-large w3-blue" style="width: 25%;">Buscar datos Unidad</button>
</div>
</div>


<table *ngIf="donacion2!==undefined && activate === true " >
<tr>
 <th>Dato</th>
 <th>Contenido</th>
</tr>
<tr>
 <td>ID donacion </td>
 <td>{{donacion2.idDonacion}}</td>
</tr>


<tr>
  <td>Fecha De Donacion</td>
  <td>{{donacion2.fechaDonacion}}</td>
</tr>


<tr>
  <td>Numero de Venoponuciones</td>
  <td>{{donacion2.numeroVenoponuciones}}</td>
</tr>


<tr>
  <td>Cantidad de Sangre Extraida </td>
  <td>{{donacion2.cantidadExtraida}} Ml</td>
</tr>

<tr>
    <td>Tiempo de la Extraccion</td>
    <td>{{donacion2.numeroMinExtraccion}}</td>
  </tr>



<tr>
  <td>Identificacion del Medico</td>
  <td>{{donacion2.medicoEncargado}}</td>
</tr>

</table>



</section>